#Comunicaciones {
  margin: 2rem;
  background-color: var(--color-terceario);
  padding: 4rem;
  border-radius: 10px;
}

#Comunicaciones h2 {
  color: var(--color-secundario);
}

.noticias {
  margin-bottom: 20px; /* Espaciado entre secciones */
}

.noticias div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.noticias h3,
.encuestas h3 {
  color: var(--color-secundario);
}

/* Estilo para las noticias */
.noticias p {
  color: var(--color-texto);
}

iframe {
  background-color: var(--color-texto);
  color: var(--color-texto);
  border-radius: 10px;
  width: 500px;
  height: 850px;
}

/* Estilo para las encuestas */
.encuestas p a {
  color: var(--color-terceario);
  text-decoration: underline;
}

@media (width <= 700px) {
  #Comunicaciones {
  }
  .noticias div {
    width: 400px;
  }
  iframe {
    width: 400px;
    height: 700px;
  }
}

@media (width <= 600px) {
  #Comunicaciones {
    margin: 0;
  }
  .noticias div {
    width: 300px;
  }
  iframe {
    width: 300px;
    height: 550px;
  }
}
