#Contact-me {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-contact-us {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: var(--color-terceario);
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}

.container-info p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.div-close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (width <= 430px) {
  .container-contact-us {
    width: 80%;
  }
  .container-info {
    width: 100%;
  }
  .container-info p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}
